.container{
    height: 400px;
    border:2px solid black;

    display:flex;
    flex-direction: row;
    flex-wrap: wrap;

    /*flex-flow: column nowrap;*/

    justify-content: center; /*this is a apply main-axis items*/

    align-items: center; /*this is a apply cross-axis items*/ 

    align-content: flex-start; /*Upper all items*/ 

    gap: 50px;
}
.box{
    border: 1px solid blue;
    background-color: chartreuse;
}