        #heading{
           color: tomato;
           background-color: yellow;
           }
           body{
            background-color: lightcoral;
           }
           button{
            background-color: blue;
            color : white
           }