.box{
    position: absolute;
    border: 2px solid black;
    height: 400px;
    width:400px;
    display: flex;
    align-items: center;
    justify-content: center;
     background-color: chartreuse;
}
.top-left{
    position: absolute;
    font-size: bold;
    top:0;
    left:0;
}
.top-right{
    position: absolute;
    font-size: bold;
    top:0;
    right:0;
}
.bottom-left{
    position: absolute;
    font-size: bold;
    bottom:0;
    left:0;
}
.bottom-right{
    position: absolute;
    font-size: bold;
    bottom:0;
    right:0;
}
.center{
    font-size: bold;
}