body{
    text-align: center;
}
div{
    height: 100px;
    width:100px;
    display: inline-block;
    border:2px solid black;
}
#container{
    width:800px;
    height: 200px;
    display: flex;/* box changes*/
    flex-direction:row;
    justify-content: center;
    flex-wrap: wrap;
    align-items: flex-start;
    /*align-content: flex-end;*/
}
#box1{
    background-color: aqua;
}
#box2{
    background-color: pink;
    height: 200px;
    align-self: flex-end;

}
#box3{
    background-color: darkkhaki;
}
#box4{
    background-color:indianred ;
}
#box5{
    background-color: blue;
    align-self: flex-end;
}