div{
    background-color: palevioletred;
    display:inline;
}

button{
    display: inline;
}

.block-example {
    display: block;
    width: 300px;
    background-color: lightblue;
    padding: 10px;
}
.inline-example {
    display: inline;
    background-color: yellow;
    padding: 5px;
}
.inline-block-example {
    display: inline-block;
    width: 150px;
    height: 50px;
    background-color: lightcoral;
    text-align: center;
}
.hidden {
    display: none;
}
.flex-container {
    display: flex;
    justify-content: space-around;
}
.grid-container {
    display: grid;
    grid-template-columns: repeat(3);
    gap: 10px;
}
.table {
    display: table;
    width: 100%;;
}

